# Ignore post processed trash directory
trashdir/

# If a user forgot to post process before commiting, ignore large garbage output files
*.drh0
*.grho
*.grd0
*.grd
*.h0*
*.h0exc
*.h0nl
*.h0t
*.h0vxc

# Ignore Seqquest Executable (Copyright by Sandia)
seqquest_parallel-20251006T044228Z-1-001.zip
seqquest_parallel_IDPP.zip
seqquest_serial.zip
seqquest_parallel.zip
seqquest_parallel_IDPP
seqquest_parallel
seqquest_serial
